

<ion-content>
  <div class="btn" style="margin-top: 10%;">
<!--    <ion-avatar>-->
      <img class="img animated bounceInDown"  src="../../../assets/imgs/undraw_mobile_login_ikmv.png">
<!--    </ion-avatar>-->

  </div>
  <form  [formGroup]="registerForm" (ngSubmit)="register()">
    <ion-grid>
      <ion-row class="ion-justify-content-center" >
        <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">
          <div class="ion-text-center">
            <h3>Créez votre Compte</h3>
          </div>
          <div >
            <ion-item>
              <ion-label position="floating">Nom d'utilisateur</ion-label>
              <ion-input  name="username" formControlName="username" type="text"  required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Adresse Mail</ion-label>
              <ion-input name="email" type="email"  formControlName="email" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Mot de passe</ion-label>
              <ion-input name="password" type="password" formControlName="password" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Comfirmez le mot de passe</ion-label>
              <ion-input name="confirmPassword" type="password" formControlName="confirmPassword" required></ion-input>
            </ion-item>
          </div>
          <div class="btn">
            <ion-button class="ion-align-self-center" [disabled]="registerForm.invalid"  size="medium" type="submit"  expand="round">S'enregistrer</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

  <ion-row>
    <div class="text">
      <p>Si vous aviez de compte,  <a routerLink='/login'>
        connctez </a>vous ici</p>
    </div>
  </ion-row>
</ion-content>
